mmdoc-datafiles/src/main/resources/xsd/cards.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- W3C Schema generated by XMLSpy v2014 sp1 (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Card">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0">
				<xs:sequence>
					<xs:element ref="School" maxOccurs="unbounded"/>
					<xs:element ref="Description"/>
					<xs:choice>
						<xs:sequence>
							<xs:element ref="Target" maxOccurs="unbounded"/>
							<xs:element ref="Trigger" minOccurs="0"/>
						</xs:sequence>
						<xs:sequence>
							<xs:element ref="Ongoing"/>
							<xs:element ref="Target"/>
						</xs:sequence>
					</xs:choice>
				</xs:sequence>
				<xs:sequence>
					<xs:element ref="Target" maxOccurs="unbounded"/>
					<xs:choice>
						<xs:sequence>
							<xs:element ref="Trigger"/>
							<xs:element ref="Description"/>
						</xs:sequence>
						<xs:sequence>
							<xs:element ref="Description"/>
							<xs:element ref="ExtraDescription" minOccurs="0"/>
						</xs:sequence>
					</xs:choice>
				</xs:sequence>
				<xs:sequence>
					<xs:element ref="Ability" maxOccurs="unbounded"/>
					<xs:choice minOccurs="0">
						<xs:sequence>
							<xs:element ref="Target"/>
							<xs:element ref="Ability" minOccurs="0"/>
							<xs:element ref="Description"/>
						</xs:sequence>
						<xs:sequence>
							<xs:element ref="Trigger" maxOccurs="unbounded"/>
							<xs:element ref="Description"/>
						</xs:sequence>
						<xs:sequence>
							<xs:element ref="Variable"/>
							<xs:choice>
								<xs:element ref="Ongoing"/>
								<xs:element ref="Target" maxOccurs="unbounded"/>
							</xs:choice>
							<xs:element ref="Description"/>
						</xs:sequence>
						<xs:sequence>
							<xs:element ref="Description"/>
							<xs:choice minOccurs="0">
								<xs:element ref="Trigger"/>
								<xs:element ref="Target"/>
							</xs:choice>
						</xs:sequence>
					</xs:choice>
				</xs:sequence>
				<xs:sequence>
					<xs:element ref="Ongoing"/>
					<xs:choice>
						<xs:sequence>
							<xs:element ref="Target" maxOccurs="unbounded"/>
							<xs:element ref="Trigger" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element ref="Description"/>
							<xs:element ref="ExtraDescription" minOccurs="0"/>
						</xs:sequence>
						<xs:sequence>
							<xs:element ref="Trigger" maxOccurs="unbounded"/>
							<xs:element ref="Target" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element ref="Description"/>
						</xs:sequence>
						<xs:sequence>
							<xs:element ref="Variable"/>
							<xs:choice>
								<xs:element ref="Trigger" maxOccurs="unbounded"/>
								<xs:element ref="Target"/>
							</xs:choice>
							<xs:element ref="Description"/>
						</xs:sequence>
					</xs:choice>
				</xs:sequence>
				<xs:sequence>
					<xs:element ref="Trigger" maxOccurs="unbounded"/>
					<xs:element ref="Target" minOccurs="0"/>
					<xs:element ref="Description"/>
				</xs:sequence>
				<xs:sequence>
					<xs:element ref="Variable"/>
					<xs:choice>
						<xs:sequence>
							<xs:element ref="Target" maxOccurs="unbounded"/>
							<xs:element ref="Description"/>
						</xs:sequence>
						<xs:sequence>
							<xs:element ref="Ongoing"/>
							<xs:choice>
								<xs:sequence>
									<xs:element ref="Target"/>
									<xs:choice>
										<xs:sequence>
											<xs:element ref="Trigger"/>
											<xs:element ref="Description"/>
											<xs:element ref="ExtraDescription" minOccurs="0"/>
										</xs:sequence>
										<xs:element ref="Description"/>
									</xs:choice>
								</xs:sequence>
								<xs:element ref="Description"/>
							</xs:choice>
						</xs:sequence>
						<xs:sequence>
							<xs:element ref="Variable2"/>
							<xs:choice>
								<xs:sequence>
									<xs:element ref="Ongoing"/>
									<xs:element ref="Target"/>
									<xs:element ref="Trigger"/>
								</xs:sequence>
								<xs:sequence>
									<xs:choice minOccurs="0">
										<xs:sequence>
											<xs:element ref="Variable3"/>
											<xs:element ref="Variable4"/>
											<xs:element ref="Variable5"/>
											<xs:element ref="Variable6"/>
											<xs:element ref="Variable7"/>
										</xs:sequence>
										<xs:element ref="PlayabilityCondition"/>
										<xs:element ref="Trigger"/>
									</xs:choice>
									<xs:element ref="Target" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:choice>
							<xs:element ref="Description"/>
						</xs:sequence>
						<xs:sequence>
							<xs:element ref="PlayabilityCondition"/>
							<xs:choice>
								<xs:sequence>
									<xs:element ref="Target" maxOccurs="unbounded"/>
									<xs:element ref="Description"/>
								</xs:sequence>
								<xs:sequence>
									<xs:element ref="Ongoing"/>
									<xs:element ref="Target" maxOccurs="unbounded"/>
									<xs:element ref="Description"/>
									<xs:element ref="ExtraDescription" minOccurs="0"/>
								</xs:sequence>
							</xs:choice>
						</xs:sequence>
					</xs:choice>
				</xs:sequence>
				<xs:sequence>
					<xs:element ref="Description"/>
					<xs:sequence minOccurs="0">
						<xs:element ref="Variable"/>
						<xs:element ref="AttackCondition"/>
					</xs:sequence>
					<xs:element ref="Trigger"/>
				</xs:sequence>
				<xs:sequence>
					<xs:choice>
						<xs:sequence>
							<xs:element ref="Variable2"/>
							<xs:element ref="Target"/>
						</xs:sequence>
						<xs:sequence>
							<xs:element ref="AdditionalCost"/>
							<xs:element ref="Trigger"/>
						</xs:sequence>
					</xs:choice>
					<xs:element ref="Description"/>
				</xs:sequence>
			</xs:choice>
			<xs:attribute name="HP" type="xs:int"/>
			<xs:attribute name="ID" use="required" type="xs:long"/>
			<xs:attribute name="Cost" type="xs:int"/>
			<xs:attribute name="Name" use="required" type="xs:string"/>
			<xs:attribute name="Type" use="required" type="CardType"/>
			<xs:attribute name="Zone" type="Zone"/>
			<xs:attribute name="Attack" type="xs:int"/>
			<xs:attribute name="Rarity" use="required" type="Rarity"/>
			<xs:attribute name="School" type="MagicSchool"/>
			<xs:attribute name="Unique" type="xs:boolean"/>
			<xs:attribute name="Faction" type="Faction"/>
			<xs:attribute name="SubType" type="CreatureType">
			</xs:attribute>
			<xs:attribute name="Retaliate" type="xs:int"/>
			<xs:attribute name="MagicLevel" type="xs:int"/>
			<xs:attribute name="MightLevel" type="xs:int"/>
			<xs:attribute name="DisplayName" use="required" type="xs:string"/>
			<xs:attribute name="DestinyLevel" type="xs:int"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Cards">
		<xs:complexType mixed="true">
			<xs:sequence minOccurs="0">
				<xs:element ref="TemplateEffect" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="Card" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Effect">
		<xs:complexType>
			<xs:choice minOccurs="0">
				<xs:element ref="CardFilter"/>
				<xs:element ref="Ability" maxOccurs="unbounded"/>
			</xs:choice>
			<xs:attribute name="Side" type="Side"/>
			<xs:attribute name="Type" use="required" type="xs:string"/>
			<xs:attribute name="Value" type="xs:string"/>
			<xs:attribute name="Ability" type="CreatureAbility"/>
			<xs:attribute name="Reverse" type="xs:boolean"/>
			<xs:attribute name="Duration" type="xs:string"/>
			<xs:attribute name="ForcePlay" type="xs:boolean"/>
			<xs:attribute name="LevelType" type="LevelType"/>
			<xs:attribute name="CardHolder">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Events"/>
						<xs:enumeration value="Library"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="EpicEnrage" type="xs:boolean"/>
			<xs:attribute name="Persistent" type="xs:boolean"/>
			<xs:attribute name="CounterType" type="CounterType"/>
			<xs:attribute name="Destination" type="Zone"/>
			<xs:attribute name="EvaluateLast" type="xs:boolean"/>
			<xs:attribute name="OwnerAbility">
				<xs:simpleType>
					<xs:union memberTypes="CreatureAbility MagicSchool"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="RequireLevel" type="xs:boolean"/>
			<xs:attribute name="RevealToOther" type="xs:boolean"/>
			<xs:attribute name="PlayEffectType" type="xs:string"/>
			<xs:attribute name="GlobalEffectType" type="xs:string"/>
			<xs:attribute name="CancelDestination" type="Zone"/>
			<xs:attribute name="DamageFromTrigger" type="xs:boolean"/>
			<xs:attribute name="DamageExcludeFlags" type="xs:string"/>
			<xs:attribute name="DamageIncludeFlags" type="xs:string"/>
			<xs:attribute name="PlayFakeAdditionalCost" type="xs:string"/>
			<xs:attribute name="MoveFromLastKnownParent" type="xs:boolean"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Option">
		<xs:complexType>
			<xs:attribute name="Value" use="required" type="xs:int"/>
			<xs:attribute name="Duration" type="xs:string"/>
			<xs:attribute name="DisplayText" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="School">
		<xs:complexType>
			<xs:attribute name="Name" use="required" type="MagicSchool"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Target">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0">
				<xs:sequence>
					<xs:element ref="Effect" maxOccurs="unbounded"/>
					<xs:element ref="Subgroup" minOccurs="0"/>
				</xs:sequence>
				<xs:sequence>
					<xs:element ref="Option"/>
					<xs:choice minOccurs="0">
						<xs:sequence>
							<xs:element ref="Effect" maxOccurs="unbounded"/>
							<xs:element ref="Subgroup" minOccurs="0"/>
						</xs:sequence>
						<xs:sequence>
							<xs:element ref="CardType"/>
							<xs:element ref="CardFilter" minOccurs="0"/>
							<xs:element ref="Effect"/>
						</xs:sequence>
						<xs:sequence>
							<xs:element ref="Variable"/>
							<xs:choice>
								<xs:sequence>
									<xs:element ref="Variable2"/>
									<xs:element ref="Condition"/>
									<xs:element ref="Effect"/>
									<xs:element ref="Subgroup" minOccurs="0"/>
								</xs:sequence>
								<xs:sequence>
									<xs:element ref="Condition" minOccurs="0"/>
									<xs:element ref="Effect"/>
								</xs:sequence>
							</xs:choice>
						</xs:sequence>
						<xs:sequence>
							<xs:element ref="CardFilter"/>
							<xs:element ref="Effect"/>
						</xs:sequence>
						<xs:element ref="Trigger"/>
					</xs:choice>
				</xs:sequence>
				<xs:sequence>
					<xs:element ref="CardType"/>
					<xs:element ref="CardFilter" minOccurs="0"/>
					<xs:element ref="Effect"/>
				</xs:sequence>
				<xs:sequence>
					<xs:element ref="Variable"/>
					<xs:choice>
						<xs:sequence>
							<xs:element ref="Condition"/>
							<xs:element ref="Option" minOccurs="0"/>
							<xs:element ref="Effect" maxOccurs="unbounded"/>
						</xs:sequence>
						<xs:sequence>
							<xs:element ref="Variable2"/>
							<xs:element ref="Condition"/>
							<xs:choice minOccurs="0">
								<xs:element ref="CardFilter"/>
								<xs:element ref="Option"/>
							</xs:choice>
							<xs:element ref="Effect"/>
						</xs:sequence>
						<xs:sequence>
							<xs:element ref="CardFilter" minOccurs="0"/>
							<xs:element ref="Effect" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:choice>
				</xs:sequence>
				<xs:sequence>
					<xs:element ref="CardFilter"/>
					<xs:choice minOccurs="0">
						<xs:sequence>
							<xs:element ref="Variable"/>
							<xs:sequence minOccurs="0">
								<xs:element ref="Variable2" minOccurs="0"/>
								<xs:element ref="Condition"/>
							</xs:sequence>
							<xs:element ref="Effect" maxOccurs="unbounded"/>
						</xs:sequence>
						<xs:sequence>
							<xs:element ref="Option" minOccurs="0"/>
							<xs:element ref="Effect" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:choice>
				</xs:sequence>
				<xs:sequence>
					<xs:choice>
						<xs:element ref="BattlegroundFilter"/>
						<xs:element ref="Condition"/>
					</xs:choice>
					<xs:element ref="Effect"/>
				</xs:sequence>
				<xs:element ref="Subgroup"/>
				<xs:element ref="Trigger"/>
			</xs:choice>
			<xs:attribute name="Side" type="Side"/>
			<xs:attribute name="Zone" type="Zone"/>
			<xs:attribute name="Shape" type="xs:string"/>
			<xs:attribute name="Amount" type="xs:string"/>
			<xs:attribute name="Option" type="xs:int"/>
			<xs:attribute name="Random" type="xs:boolean"/>
			<xs:attribute name="CardType" type="CardType"/>
			<xs:attribute name="MinAmount" type="xs:int"/>
			<xs:attribute name="Cancelable" type="xs:boolean"/>
			<xs:attribute name="IgnoreWard" type="xs:boolean"/>
			<xs:attribute name="Persistent" type="xs:boolean"/>
			<xs:attribute name="InputOnExec" type="xs:boolean"/>
			<xs:attribute name="EvaluateLast" type="xs:boolean"/>
			<xs:attribute name="ForceExecute" type="xs:boolean"/>
			<xs:attribute name="AmountVisible" type="xs:string"/>
			<xs:attribute name="ExcludeUnique" type="xs:boolean"/>
			<xs:attribute name="RevealToOther" type="xs:boolean"/>
			<xs:attribute name="AllowDuplicate" type="xs:boolean"/>
			<xs:attribute name="CantTargetSelf" type="xs:boolean"/>
			<xs:attribute name="NeedActivation" type="xs:boolean"/>
			<xs:attribute name="CantTargetParent" type="xs:boolean"/>
			<xs:attribute name="ExceptFromTrigger" type="xs:boolean"/>
			<xs:attribute name="CantTargetPrevious" type="xs:boolean"/>
			<xs:attribute name="AutoTakeFirstInputs" type="xs:boolean"/>
			<xs:attribute name="SkipSubTargetValidation" type="xs:boolean"/>
			<xs:attribute name="SkipNextTargetValidation" type="xs:boolean"/>
			<xs:attribute name="BattlegroundPositionState" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Ability">
		<xs:complexType>
			<xs:attribute name="Type" use="required" type="CreatureAbility"/>
			<xs:attribute name="Value" type="xs:string"/>
			<xs:attribute name="Remove" type="xs:boolean"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Ongoing">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Condition" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="Duration" use="required" type="xs:string"/>
			<xs:attribute name="SuicideParent" type="xs:boolean"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Trigger">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CardFilter" minOccurs="0"/>
				<xs:element ref="Target" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="Side" type="Side"/>
			<xs:attribute name="Type" use="required" type="xs:string"/>
			<xs:attribute name="Duration" type="xs:string"/>
			<xs:attribute name="Location" type="Zone"/>
			<xs:attribute name="DamageIncludeFlags" type="xs:string"/>
			<xs:attribute name="ExecuteOncePerTurn" type="xs:boolean"/>
			<xs:attribute name="ExecuteOncePerTransaction" type="xs:boolean"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="CardType">
		<xs:complexType>
			<xs:attribute name="Exclude" type="CardType"/>
			<xs:attribute name="Include" type="CardType"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Subgroup">
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element ref="TemplateEffect"/>
					<xs:element ref="Target" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:element ref="Target" maxOccurs="unbounded"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="Variable">
		<xs:complexType>
			<xs:choice minOccurs="0">
				<xs:element ref="CardFilter"/>
				<xs:element ref="Target"/>
			</xs:choice>
			<xs:attribute name="Side" type="Side"/>
			<xs:attribute name="Type" use="required" type="xs:string"/>
			<xs:attribute name="Ability" type="CreatureAbility"/>
			<xs:attribute name="UnitType" type="CreatureType"/>
			<xs:attribute name="LevelType" type="LevelType"/>
			<xs:attribute name="UseParent" type="xs:boolean"/>
			<xs:attribute name="CounterType" type="CounterType"/>
			<xs:attribute name="FromTrigger" type="xs:boolean"/>
			<xs:attribute name="IncludeSchool" type="MagicSchool"/>
			<xs:attribute name="UseLastTarget" type="xs:boolean"/>
			<xs:attribute name="ValueModifier" type="xs:string"/>
			<xs:attribute name="ExcludeFaction" type="Faction"/>
			<xs:attribute name="IncludeFaction" type="Faction"/>
			<xs:attribute name="MustBeTargetable" type="xs:boolean"/>
			<xs:attribute name="UseCurrentTarget" type="xs:boolean"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Condition">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Condition" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="ValueA" use="required" type="xs:string"/>
			<xs:attribute name="ValueB" use="required" type="xs:string"/>
			<xs:attribute name="Operator" use="required" type="Operator"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Variable2">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Target" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="Side" type="Side"/>
			<xs:attribute name="Type" use="required" type="xs:string"/>
			<xs:attribute name="Ability" type="CreatureAbility"/>
			<xs:attribute name="LevelType" type="LevelType"/>
			<xs:attribute name="UseParent" type="xs:boolean"/>
			<xs:attribute name="IncludeSchool" type="MagicSchool"/>
			<xs:attribute name="UseLastTarget" type="xs:boolean"/>
			<xs:attribute name="ValueModifier" type="xs:string"/>
			<xs:attribute name="IncludeFaction" type="Faction"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Variable3">
		<xs:complexType>
			<xs:attribute name="Type" use="required" type="xs:string"/>
			<xs:attribute name="IncludeSchool" use="required" type="MagicSchool"/>
			<xs:attribute name="ValueModifier" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Variable4">
		<xs:complexType>
			<xs:attribute name="Type" use="required" type="xs:string"/>
			<xs:attribute name="IncludeSchool" use="required" type="MagicSchool"/>
			<xs:attribute name="ValueModifier" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Variable5">
		<xs:complexType>
			<xs:attribute name="Type" use="required" type="xs:string"/>
			<xs:attribute name="IncludeSchool" use="required" type="MagicSchool"/>
			<xs:attribute name="ValueModifier" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Variable6">
		<xs:complexType>
			<xs:attribute name="Type" use="required" type="xs:string"/>
			<xs:attribute name="IncludeSchool" use="required" type="MagicSchool"/>
			<xs:attribute name="ValueModifier" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Variable7">
		<xs:complexType>
			<xs:attribute name="Type" use="required" type="xs:string"/>
			<xs:attribute name="IncludeSchool" use="required" type="MagicSchool"/>
			<xs:attribute name="ValueModifier" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="CardFilter">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Variable" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="Side" type="Side"/>
			<xs:attribute name="Value" type="xs:string"/>
			<xs:attribute name="MaxCost" type="xs:boolean"/>
			<xs:attribute name="SameGPID" type="xs:boolean"/>
			<xs:attribute name="BaseMaxCost" type="xs:boolean"/>
			<xs:attribute name="SameCardType" type="xs:boolean"/>
			<xs:attribute name="ExcludeUnique" type="xs:boolean"/>
			<xs:attribute name="IncludeCardID" type="xs:string"/>
			<xs:attribute name="IncludeSchool" type="MagicSchool"/>
			<xs:attribute name="IncludeStatus" type="xs:string"/>
			<xs:attribute name="IncludeUnique" type="xs:boolean"/>
			<xs:attribute name="IncludeAbility" type="CreatureAbility"/>
			<xs:attribute name="IncludeCounter" type="CounterType"/>
			<xs:attribute name="IncludeFaction" type="Faction"/>
			<xs:attribute name="ExcludeUnitType" type="CreatureType"/>
			<xs:attribute name="IncludeCardType">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="All"/>
						<xs:enumeration value="Building"/>
						<xs:enumeration value="Fortune"/>
						<xs:enumeration value="Fortune|Spell"/>
						<xs:enumeration value="Fortune|Spell|Building"/>
						<xs:enumeration value="Fortune|Spell|Unit|Building"/>
						<xs:enumeration value="Spell"/>
						<xs:enumeration value="Spell|Unit"/>
						<xs:enumeration value="Unit"/>
						<xs:enumeration value="Unit|Spell|Fortune"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="IncludeUnitType" type="CreatureType"/>
			<xs:attribute name="IncludeFrontLine" type="xs:boolean"/>
			<xs:attribute name="AttackHeroLastTurn" type="xs:boolean"/>
			<xs:attribute name="IncludeEnchantUnit" type="xs:boolean"/>
			<xs:attribute name="IncludeOngoingType">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Immediate"/>
						<xs:enumeration value="Ongoing"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Description" type="xs:string"/>
	<xs:element name="AdditionalCost">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Target"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TemplateEffect">
		<xs:complexType>
			<xs:choice minOccurs="0">
				<xs:element ref="Trigger"/>
				<xs:element ref="Target"/>
			</xs:choice>
			<xs:attribute name="Name" use="required" type="CreatureAbility"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="AttackCondition">
		<xs:complexType>
			<xs:attribute name="ValueA" use="required" type="xs:string"/>
			<xs:attribute name="ValueB" use="required" type="xs:string"/>
			<xs:attribute name="Operator" use="required" type="Operator"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ExtraDescription" type="xs:string"/>
	<xs:element name="BattlegroundFilter">
		<xs:complexType>
			<xs:attribute name="Line" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PlayabilityCondition">
		<xs:complexType>
			<xs:attribute name="ValueA" use="required" type="xs:string"/>
			<xs:attribute name="ValueB" use="required" type="xs:string"/>
			<xs:attribute name="Operator" use="required" type="Operator"/>
		</xs:complexType>
	</xs:element>
    <xs:simpleType name="MagicSchool">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Air"/>
            <xs:enumeration value="Dark"/>
            <xs:enumeration value="Earth"/>
            <xs:enumeration value="Fire"/>
            <xs:enumeration value="Light"/>
            <xs:enumeration value="Prime"/>
            <xs:enumeration value="Water"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CreatureAbility">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AbsorbHeroDamage"/>
            <xs:enumeration value="AirHeal"/>
            <xs:enumeration value="AirWard"/>
            <xs:enumeration value="Ambush"/>
            <xs:enumeration value="Anchored"/>
            <xs:enumeration value="AreaBlast"/>
            <xs:enumeration value="AttackAnywhere"/>
            <xs:enumeration value="AttackBackLine"/>
            <xs:enumeration value="AttackWithRetaliate"/>
            <xs:enumeration value="BanishOnTurnEnd"/>
            <xs:enumeration value="Berserk"/>
            <xs:enumeration value="BlockDeploy"/>
            <xs:enumeration value="BloodThirst"/>
            <xs:enumeration value="Bloodthirst"/>
            <xs:enumeration value="CannotAttack"/>
            <xs:enumeration value="CannotAttackHero"/>
            <xs:enumeration value="CannotMove"/>
            <xs:enumeration value="Charge"/>
            <xs:enumeration value="Crippling"/>
            <xs:enumeration value="DarkWard"/>
            <xs:enumeration value="DieOnCombatDamage"/>
            <xs:enumeration value="DieOnDamage"/>
            <xs:enumeration value="DoubleAttack"/>
            <xs:enumeration value="EarthHeal"/>
            <xs:enumeration value="EarthWard"/>
            <xs:enumeration value="EnemySpellWard"/>
            <xs:enumeration value="Enrage"/>
            <xs:enumeration value="Evade"/>
            <xs:enumeration value="Fear"/>
            <xs:enumeration value="FireBurst"/>
            <xs:enumeration value="FireHeal"/>
            <xs:enumeration value="FireWard"/>
            <xs:enumeration value="FlyerGuard"/>
            <xs:enumeration value="FocusedBlast"/>
            <xs:enumeration value="FortuneWard"/>
            <xs:enumeration value="FrozenTouch"/>
            <xs:enumeration value="Heal"/>
            <xs:enumeration value="Honor"/>
            <xs:enumeration value="Hypnotize"/>
            <xs:enumeration value="ImmuneToRetaliate"/>
            <xs:enumeration value="Income"/>
            <xs:enumeration value="Incorporeal"/>
            <xs:enumeration value="Infect"/>
            <xs:enumeration value="KillOnTurnEnd"/>
            <xs:enumeration value="LifeDrain"/>
            <xs:enumeration value="LightWard"/>
            <xs:enumeration value="Lucky"/>
            <xs:enumeration value="MagicChannel"/>
            <xs:enumeration value="MagicGuard"/>
            <xs:enumeration value="MagicResist"/>
            <xs:enumeration value="MagicShield"/>
            <xs:enumeration value="MeleeBlast"/>
            <xs:enumeration value="MeleeGuard"/>
            <xs:enumeration value="Mending"/>
            <xs:enumeration value="Outmaneuver"/>
            <xs:enumeration value="Phased"/>
            <xs:enumeration value="PreemptiveStrike"/>
            <xs:enumeration value="PrimeWard"/>
            <xs:enumeration value="QuickAttack"/>
            <xs:enumeration value="RangeReflect"/>
            <xs:enumeration value="RangedGuard"/>
            <xs:enumeration value="Regenerate"/>
            <xs:enumeration value="Replaceable"/>
            <xs:enumeration value="Retribution"/>
            <xs:enumeration value="Shockwave"/>
            <xs:enumeration value="ShuffleOnEnterGraveyard"/>
            <xs:enumeration value="SpellResist"/>
            <xs:enumeration value="SpellShield"/>
            <xs:enumeration value="SweepAttack"/>
            <xs:enumeration value="Swift"/>
            <xs:enumeration value="Switch"/>
            <xs:enumeration value="Towering"/>
            <xs:enumeration value="Unblockable"/>
            <xs:enumeration value="WaterHeal"/>
            <xs:enumeration value="WaterWard"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Faction">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Academy"/>
            <xs:enumeration value="Haven"/>
            <xs:enumeration value="Inferno"/>
            <xs:enumeration value="Necropolis"/>
            <xs:enumeration value="Neutral"/>
            <xs:enumeration value="Sanctuary"/>
            <xs:enumeration value="Stronghold"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Operator">
        <xs:restriction base="xs:string">
            <xs:enumeration value="GreaterThan"/>
            <xs:enumeration value="LesserOrEqual"/>
            <xs:enumeration value="LesserThan"/>
            <xs:enumeration value="And"/>
            <xs:enumeration value="Or"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="LevelType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Destiny"/>
            <xs:enumeration value="Magic"/>
            <xs:enumeration value="Might"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CardType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Building"/>
            <xs:enumeration value="Event"/>
            <xs:enumeration value="Fortune"/>
            <xs:enumeration value="Hero"/>
            <xs:enumeration value="Spell"/>
            <xs:enumeration value="Unit"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CounterType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Any"/>
            <xs:enumeration value="Crippling"/>
            <xs:enumeration value="Enrage"/>
            <xs:enumeration value="Fierce"/>
            <xs:enumeration value="Poison"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Rarity">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Common"/>
            <xs:enumeration value="Uncommon"/>
            <xs:enumeration value="Rare"/>
            <xs:enumeration value="Epic"/>
            <xs:enumeration value="Heroic"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CreatureType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Flyer"/>
            <xs:enumeration value="Magic|Flyer"/>
            <xs:enumeration value="Magic|Melee"/>
            <xs:enumeration value="Magic|Melee|Shooter"/>
            <xs:enumeration value="Magic|Shooter"/>
            <xs:enumeration value="Melee"/>
            <xs:enumeration value="Melee|Shooter"/>
            <xs:enumeration value="Shooter"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Side">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Any"/>
            <xs:enumeration value="Context"/>
            <xs:enumeration value="Enemy"/>
            <xs:enumeration value="Friendly"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Zone">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Graveyard"/>
            <xs:enumeration value="Hand"/>
            <xs:enumeration value="Library"/>
            <xs:enumeration value="Banish"/>
            <xs:enumeration value="Battleground"/>
            <xs:enumeration value="BattlegroundColumn"/>
            <xs:enumeration value="BattlegroundLine"/>
            <xs:enumeration value="BattlegroundPosition"/>
            <xs:enumeration value="Graveyard"/>
            <xs:enumeration value="Hero"/>
            <xs:enumeration value="None"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
